body {
  font-family: sans-serif;
  overflow: hidden;
  background-color: #1f1f1f;
}

video {
  max-width: 100%;
  align-self: end;
  border-radius: 16px;
}

#trainerVideo {
  width: 100%;
  align-self: center;
}

.wrapper > div {
  background-color: #faebd7a1;
  border: 2px solid #faebd7;
  border-radius: 16px;
  overflow: hidden;
  align-content: center;
  display: flex;
  min-width: 0px;
}

.wrapper {
  height: 98vh;
  min-width: 0px;
  min-height: 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  /* grid-auto-rows: minmax(100px, auto); */
}

.trainer {
  grid-column: 1 / 6;
  grid-row: 1 / 12;
}

.participantOne {
  grid-column: 1;
  grid-row: 12;
}

.participantTwo {
  grid-column: 2;
  grid-row: 12;
}

.participantThree {
  grid-column: 3;
  grid-row: 12;
}

.participantFour {
  grid-column: 4;
  grid-row: 12;
}

.participantFive {
  grid-column: 5;
  grid-row: 12;
}

.preview {
  grid-column: 5;
  grid-row: 11;
}

@media only screen and (min-width: 800px) {
  .trainer {
    grid-column: 1 / 5;
    grid-row: 1 / 6;
  }
  
  .participantOne {
    grid-column: 5 / 5;
    grid-row: 1;
  }
  
  .participantTwo {
    grid-column: 5 / 5;
    grid-row: 2;
  }
  
  .participantThree {
    grid-column: 5 / 5;
    grid-row: 3;
  }
  
  .participantFour {
    grid-column: 5 / 5;
    grid-row: 4;
  }
  
  .participantFive {
    grid-column: 5 / 5;
    grid-row: 5;
  }
  
  .preview {
    grid-column: 4;
    grid-row: 5;
  }  
} 